# Teeworlds images
public/database/skin/body/*.png
public/database/skin/eye/*.png
public/database/skin/feet/*.png
public/database/skin/full/*.png
public/database/skin/hand/*.png

# SVG
*.svg

# Python cache
__pycache__

# VSCode
.vscode

# env
json/env.json

# tests
tests

# quick todo list
todo